In [2]:
# import data and dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint

In [3]:
# clean up data 
age_nativity = pd.read_csv("data/age_by_nativity.csv")
employment_by_industry = pd.read_csv("data/employment_by_industries.csv")
# employment_by_occupation = pd.read_csv("data/employment_by_occupations.csv")
property_value = pd.read_csv("data/property_value.csv")
demographics = pd.read_csv("data/tdc_download_tool.csv")
wage_by_gender = pd.read_csv("data/wage_by_gender_in_common_jobs.csv")
wage_by_race = pd.read_csv("data/wage_by_race_and_ethnicity_in_common_jobs.csv")
wage_distribution = pd.read_csv("data/wage_distribution.csv")

In [4]:
age_nativity[['ID Age',
              'Age', 
              'Year', 
              'Birthplace', 
              'Birthplace Moe', 
              'nativity', 
              'share']]
age_nativity.tail()

,ID Place of Birth,Place of Birth,ID Age,Age,ID Year,Year,Birthplace,Birthplace Moe,Geography,ID Geography,Slug Geography,nativity,share
105,3,Foreign Born,0,Under 5 Years,2013,2013,1217,578.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.001374
106,3,Foreign Born,9,65 to 74 Years,2013,2013,6137,1291.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.006931
107,3,Foreign Born,1,5 to 17 Years,2013,2013,9353,1990.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.010563
108,3,Foreign Born,10,75 Years & Over,2013,2013,3313,904.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.003742
109,3,Foreign Born,2,18 to 24 Years,2013,2013,18858,2456.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.021298

In [5]:
employment_by_industry.tail(15)
employment_by_industry[['Industry', 
                        'Year', 
                        'Workforce by Industry and Gender', 
                        'Workforce by Industry and Gender Moe']]

employment_by_industry.sort_values(by="Year")

,ID Group,Group,ID Industry,Industry,ID Year,Year,ID State,State,Workforce by Industry and Gender,Workforce by Industry and Gender Moe,Geography,ID Geography,Slug Geography
99,7,"Finance & Insurance, & Real Estate & Rental & ...",10,Real Estate & Rental & Leasing,2013,2013,04000US48,Texas,13258,1997.711190,"Austin, TX",16000US4805000,austin-tx
80,10,"Arts, Entertainment, & Recreation, & Accommoda...",16,"Arts, Entertainment, & Recreation",2013,2013,04000US48,Texas,11015,1737.385680,"Austin, TX",16000US4805000,austin-tx
81,8,"Professional, Scientific, & Management, & Admi...",13,Administrative & Support & Waste Management Se...,2013,2013,04000US48,Texas,21663,2909.255747,"Austin, TX",16000US4805000,austin-tx
82,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",1,"Mining, Quarrying, & Oil & Gas Extraction",2013,2013,04000US48,Texas,2219,731.207905,"Austin, TX",16000US4805000,austin-tx
83,5,"Transportation & Warehousing, & Utilities",7,Utilities,2013,2013,04000US48,Texas,3750,1497.571701,"Austin, TX",16000US4805000,austin-tx
84,8,"Professional, Scientific, & Management, & Admi...",11,"Professional, Scientific, & Technical Services",2013,2013,04000US48,Texas,60187,4125.176966,"Austin, TX",16000US4805000,austin-tx
85,10,"Arts, Entertainment, & Recreation, & Accommoda...",17,Accommodation & Food Services,2013,2013,04000US48,Texas,45900,4425.789873,"Austin, TX",16000US4805000,austin-tx
86,7,"Finance & Insurance, & Real Estate & Rental & ...",9,Finance & Insurance,2013,2013,04000US48,Texas,21748,2485.354301,"Austin, TX",16000US4805000,austin-tx
87,9,"Educational Services, & Health Care & Social A...",14,Educational Services,2013,2013,04000US48,Texas,52255,4126.908770,"Austin, TX",16000US4805000,austin-tx
88,1,Construction (Group),2,Construction,2013,2013,04000US48,Texas,35756,3740.748722,"Austin, TX",16000US4805000,austin-tx
98,3,Wholesale Trade (Group),4,Wholesale Trade,2013,2013,04000US48,Texas,8539,2203.452064,"Austin, TX",16000US4805000,austin-tx
90,11,"Other Services, Except Public Administration (...",18,"Other Services, Except Public Administration",2013,2013,04000US48,Texas,29808,3501.300615,"Austin, TX",16000US4805000,austin-tx
91,5,"Transportation & Warehousing, & Utilities",6,Transportation & Warehousing,2013,2013,04000US48,Texas,11129,2292.573445,"Austin, TX",16000US4805000,austin-tx
92,8,"Professional, Scientific, & Management, & Admi...",12,Management of Companies & Enterprises,2013,2013,04000US48,Texas,344,314.226033,"Austin, TX",16000US4805000,austin-tx
93,9,"Educational Services, & Health Care & Social A...",15,Health Care & Social Assistance,2013,2013,04000US48,Texas,44222,3257.077371,"Austin, TX",16000US4805000,austin-tx
94,2,Manufacturing (Group),3,Manufacturing,2013,2013,04000US48,Texas,34409,3333.601356,"Austin, TX",16000US4805000,austin-tx
95,12,Public Administration (Group),19,Public Administration,2013,2013,04000US48,Texas,27913,3073.191501,"Austin, TX",16000US4805000,austin-tx
96,6,Information (Group),8,Information,2013,2013,04000US48,Texas,15588,2562.337995,"Austin, TX",16000US4805000,austin-tx
97,4,Retail Trade (Group),5,Retail Trade,2013,2013,04000US48,Texas,51960,4073.599146,"Austin, TX",16000US4805000,austin-tx
89,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",0,"Agriculture, Forestry, Fishing & Hunting",2013,2013,04000US48,Texas,1069,495.665210,"Austin, TX",16000US4805000,austin-tx
67,7,"Finance & Insurance, & Real Estate & Rental & ...",9,Finance & Insurance,2014,2014,04000US48,Texas,23055,2470.405837,"Austin, TX",16000US4805000,austin-tx
66,8,"Professional, Scientific, & Management, & Admi...",13,Administrative & Support & Waste Management Se...,2014,2014,04000US48,Texas,22693,2568.551537,"Austin, TX",16000US4805000,austin-tx
65,10,"Arts, Entertainment, & Recreation, & Accommoda...",16,"Arts, Entertainment, & Recreation",2014,2014,04000US48,Texas,10772,1794.402407,"Austin, TX",16000US4805000,austin-tx
60,7,"Finance & Insurance, & Real Estate & Rental & ...",10,Real Estate & Rental & Leasing,2014,2014,04000US48,Texas,13691,2069.136293,"Austin, TX",16000US4805000,austin-tx
63,5,"Transportation & Warehousing, & Utilities",7,Utilities,2014,2014,04000US48,Texas,2868,853.639854,"Austin, TX",16000US4805000,austin-tx
62,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",0,"Agriculture, Forestry, Fishing & Hunting",2014,2014,04000US48,Texas,1353,715.614421,"Austin, TX",16000US4805000,austin-tx
61,9,"Educational Services, & Health Care & Social A...",15,Health Care & Social Assistance,2014,2014,04000US48,Texas,49362,3806.954163,"Austin, TX",16000US4805000,austin-tx
64,3,Wholesale Trade (Group),4,Wholesale Trade,2014,2014,04000US48,Texas,9314,1695.692484,"Austin, TX",16000US4805000,austin-tx
69,10,"Arts, Entertainment, & Recreation, & Accommoda...",17,Accommodation & Food Services,2014,2014,04000US48,Texas,45211,4480.661224,"Austin, TX",16000US4805000,austin-tx
68,2,Manufacturing (Group),3,Manufacturing,2014,2014,04000US48,Texas,35173,3390.829545,"Austin, TX",16000US4805000,austin-tx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,12,Public Administration (Group),19,Public Administration,2016,2016,04000US48,Texas,27063,2723.559619,"Austin, TX",16000US4805000,austin-tx
32,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",0,"Agriculture, Forestry, Fishing & Hunting",2016,2016,04000US48,Texas,1124,680.661443,"Austin, TX",16000US4805000,austin-tx
33,8,"Professional, Scientific, & Management, & Admi...",11,"Professional, Scientific, & Technical Services",2016,2016,04000US48,Texas,73817,4389.880408,"Austin, TX",16000US4805000,austin-tx
34,6,Information (Group),8,Information,2016,2016,04000US48,Texas,18153,2250.995335,"Austin, TX",16000US4805000,austin-tx
35,9,"Educational Services, & Health Care & Social A...",15,Health Care & Social Assistance,2016,2016,04000US48,Texas,52837,4006.869227,"Austin, TX",16000US4805000,austin-tx
36,3,Wholesale Trade (Group),4,Wholesale Trade,2016,2016,04000US48,Texas,12565,2095.578440,"Austin, TX",16000US4805000,austin-tx
37,7,"Finance & Insurance, & Real Estate & Rental & ...",10,Real Estate & Rental & Leasing,2016,2016,04000US48,Texas,14731,2511.207678,"Austin, TX",16000US4805000,austin-tx
38,7,"Finance & Insurance, & Real Estate & Rental & ...",9,Finance & Insurance,2016,2016,04000US48,Texas,23326,2878.045344,"Austin, TX",16000US4805000,austin-tx
39,10,"Arts, Entertainment, & Recreation, & Accommoda...",17,Accommodation & Food Services,2016,2016,04000US48,Texas,42693,4539.834909,"Austin, TX",16000US4805000,austin-tx
30,5,"Transportation & Warehousing, & Utilities",7,Utilities,2016,2016,04000US48,Texas,2666,770.055193,"Austin, TX",16000US4805000,austin-tx
7,2,Manufacturing (Group),3,Manufacturing,2017,2017,04000US48,Texas,41586,4264.172604,"Austin, TX",16000US4805000,austin-tx
6,10,"Arts, Entertainment, & Recreation, & Accommoda...",16,"Arts, Entertainment, & Recreation",2017,2017,04000US48,Texas,13123,2272.642955,"Austin, TX",16000US4805000,austin-tx
5,1,Construction (Group),2,Construction,2017,2017,04000US48,Texas,41460,5012.614188,"Austin, TX",16000US4805000,austin-tx
1,12,Public Administration (Group),19,Public Administration,2017,2017,04000US48,Texas,29054,2868.084378,"Austin, TX",16000US4805000,austin-tx
3,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",1,"Mining, Quarrying, & Oil & Gas Extraction",2017,2017,04000US48,Texas,2802,875.727126,"Austin, TX",16000US4805000,austin-tx
2,11,"Other Services, Except Public Administration (...",18,"Other Services, Except Public Administration",2017,2017,04000US48,Texas,26993,3119.346246,"Austin, TX",16000US4805000,austin-tx
8,9,"Educational Services, & Health Care & Social A...",15,Health Care & Social Assistance,2017,2017,04000US48,Texas,52161,4151.356044,"Austin, TX",16000US4805000,austin-tx
4,10,"Arts, Entertainment, & Recreation, & Accommoda...",17,Accommodation & Food Services,2017,2017,04000US48,Texas,48958,3997.982741,"Austin, TX",16000US4805000,austin-tx
9,3,Wholesale Trade (Group),4,Wholesale Trade,2017,2017,04000US48,Texas,9351,1756.259662,"Austin, TX",16000US4805000,austin-tx
14,8,"Professional, Scientific, & Management, & Admi...",12,Management of Companies & Enterprises,2017,2017,04000US48,Texas,963,653.153887,"Austin, TX",16000US4805000,austin-tx
11,4,Retail Trade (Group),5,Retail Trade,2017,2017,04000US48,Texas,47784,3938.827364,"Austin, TX",16000US4805000,austin-tx
12,8,"Professional, Scientific, & Management, & Admi...",13,Administrative & Support & Waste Management Se...,2017,2017,04000US48,Texas,22313,2945.795139,"Austin, TX",16000US4805000,austin-tx
13,5,"Transportation & Warehousing, & Utilities",6,Transportation & Warehousing,2017,2017,04000US48,Texas,17502,3318.853567,"Austin, TX",16000US4805000,austin-tx
15,5,"Transportation & Warehousing, & Utilities",7,Utilities,2017,2017,04000US48,Texas,3421,1155.152804,"Austin, TX",16000US4805000,austin-tx
16,8,"Professional, Scientific, & Management, & Admi...",11,"Professional, Scientific, & Technical Services",2017,2017,04000US48,Texas,75427,4561.085178,"Austin, TX",16000US4805000,austin-tx
17,6,Information (Group),8,Information,2017,2017,04000US48,Texas,19041,2643.342013,"Austin, TX",16000US4805000,austin-tx
18,7,"Finance & Insurance, & Real Estate & Rental & ...",10,Real Estate & Rental & Leasing,2017,2017,04000US48,Texas,18199,2840.957057,"Austin, TX",16000US4805000,austin-tx
19,7,"Finance & Insurance, & Real Estate & Rental & ...",9,Finance & Insurance,2017,2017,04000US48,Texas,20807,2487.251696,"Austin, TX",16000US4805000,austin-tx
10,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",0,"Agriculture, Forestry, Fishing & Hunting",2017,2017,04000US48,Texas,1548,722.432004,"Austin, TX",16000US4805000,austin-tx
0,9,"Educational Services, & Health Care & Social A...",14,Educational Services,2017,2017,04000US48,Texas,58591,4083.898750,"Austin, TX",16000US4805000,austin-tx

In [6]:
property_value[['Value Bucket',
               'Year',
               'Property Value by Bucket',
               'Property Value by Bucket Moe',
               'Geography',
               'share']]

,Value Bucket,Year,Property Value by Bucket,Property Value by Bucket Moe,Geography,share
0,"Less Than $10,000",2017,1000376,16112.0,United States,0.013045
1,"$2,000,000 or More",2017,2224,832.0,"Austin, TX",0.013137
2,"$15,000 to $19,999",2017,484108,10315.0,United States,0.006313
3,"$20,000 to $24,999",2017,537939,9802.0,United States,0.007015
4,"$25,000 to $29,999",2017,495363,10768.0,United States,0.006460
5,"$30,000 to $34,999",2017,596891,10224.0,United States,0.007784
6,"$35,000 to $39,999",2017,447506,11066.0,United States,0.005836
7,"$40,000 to $49,999",2017,1167440,17521.0,United States,0.015224
8,"$50,000 to $59,999",2017,1398870,16934.0,United States,0.018242
9,"$60,000 to $69,999",2017,1668358,21640.0,United States,0.021756
10,"$70,000 to $79,999",2017,1920286,23629.0,United States,0.025042
11,"$80,000 to $89,999",2017,2233308,25236.0,United States,0.029124
12,"$90,000 to $99,999",2017,1944367,22779.0,United States,0.025356
13,"$100,000 to $124,999",2017,5247464,38317.0,United States,0.068430
14,"$125,000 to $149,999",2017,4961614,39059.0,United States,0.064702
15,"$150,000 to $174,999",2017,6230138,45018.0,United States,0.081244
16,"$175,000 to $199,999",2017,4565691,32837.0,United States,0.059539
17,"$200,000 to $249,999",2017,8224555,52921.0,United States,0.107253
18,"$250,000 to $299,999",2017,6839596,44521.0,United States,0.089192
19,"$300,000 to $399,999",2017,9287497,46433.0,United States,0.121114
20,"$400,000 to $499,999",2017,5516286,31749.0,United States,0.071935
21,"$500,000 to $749,999",2017,6283285,42388.0,United States,0.081937
22,"$750,000 to $999,999",2017,2488501,20115.0,United States,0.032451
23,"$1,000,000 to $1,499,999",2017,1408667,16357.0,United States,0.018370
24,"$1,500,000 to $1,999,999",2017,505125,10127.0,United States,0.006587
25,"$2,000,000 or More",2017,680989,12730.0,United States,0.008880
26,"$10,000 to $14,999",2017,549798,11385.0,United States,0.007170
27,"Less Than $10,000",2017,1097,575.0,"Austin, TX",0.006480
28,"$10,000 to $14,999",2017,447,431.0,"Austin, TX",0.002640
29,"$15,000 to $19,999",2017,368,335.0,"Austin, TX",0.002174
...,...,...,...,...,...,...
126,"$175,000 to $199,999",2015,10798,1708.0,"Austin, TX",0.066721
127,"$300,000 to $399,999",2015,8274205,47076.0,United States,0.111053
128,"$15,000 to $19,999",2015,500762,10364.0,United States,0.006721
129,"$200,000 to $249,999",2015,24947,2266.0,"Austin, TX",0.154149
130,"$20,000 to $24,999",2015,535,326.0,"Austin, TX",0.003306
131,"$100,000 to $124,999",2015,5842517,39281.0,United States,0.078416
132,"$250,000 to $299,999",2015,19273,2236.0,"Austin, TX",0.119089
133,"$400,000 to $499,999",2015,4649695,31096.0,United States,0.062407
134,"$25,000 to $29,999",2015,219,142.0,"Austin, TX",0.001353
135,"$300,000 to $399,999",2015,25327,2366.0,"Austin, TX",0.156497
136,"Less Than $10,000",2015,1045716,13633.0,United States,0.014035
137,"$60,000 to $69,999",2015,1874444,20511.0,United States,0.025158
138,"$400,000 to $499,999",2015,17524,1871.0,"Austin, TX",0.108282
139,"$30,000 to $34,999",2015,364,291.0,"Austin, TX",0.002249
140,"$500,000 to $749,999",2015,5243219,33833.0,United States,0.070373
141,"$500,000 to $749,999",2015,20912,2042.0,"Austin, TX",0.129216
142,"$125,000 to $149,999",2015,5344324,37990.0,United States,0.071730
143,"$35,000 to $39,999",2015,192,186.0,"Austin, TX",0.001186
144,"$750,000 to $999,999",2015,5673,1267.0,"Austin, TX",0.035054
145,"$35,000 to $39,999",2015,485347,9623.0,United States,0.006514
146,"$750,000 to $999,999",2015,2012603,17766.0,United States,0.027012
147,"$1,000,000 to $1,499,999",2015,2496,668.0,"Austin, TX",0.015423
148,"$40,000 to $49,999",2015,436,318.0,"Austin, TX",0.002694
149,"$25,000 to $29,999",2015,523598,11473.0,United States,0.007028
150,"$1,500,000 to $1,999,999",2015,819,353.0,"Austin, TX",0.005061
151,"$150,000 to $174,999",2015,6487224,41429.0,United States,0.087069
152,"$50,000 to $59,999",2015,716,393.0,"Austin, TX",0.004424
153,"$2,000,000 or More",2015,1514,540.0,"Austin, TX",0.009355
154,"$1,000,000 to $1,499,999",2015,1102169,12720.0,United States,0.014793
155,"Less Than $10,000",2015,1377,550.0,"Austin, TX",0.008509

In [7]:
demographics.head()
demographics.sort_values(by="Age")

,Year,Area Name,Area Code,Age,White Male,White Female,Black Male,Black Female,Hispanic Male,Hispanic Female,Asian Male,Asian Female,Other w Asian Male,Other w Asian Female,Other w/o Asian Male,Other w/o Asian Female
111,2011,Travis,453,05-09,"13,050","12,359","2,940","2,919","17,620","16,910",NaN,NaN,"3,335","3,409",NaN,NaN
1,2017,Travis,453,05-09,"14,209","13,366","3,066","2,965","19,100","18,416","2,366","2,280","4,083","4,020","1,717","1,740"
39,2015,Travis,453,05-09,"14,284","13,216","3,005","3,006","19,471","18,851",NaN,NaN,"3,986","3,996",NaN,NaN
57,2014,Travis,453,05-09,"13,503","12,703","2,953","2,932","18,699","18,045",NaN,NaN,"3,757","3,795",NaN,NaN
75,2013,Travis,453,05-09,"13,350","12,564","2,955","2,948","18,419","17,860",NaN,NaN,"3,617","3,683",NaN,NaN
21,2016,Travis,453,05-09,"14,847","13,714","3,032","3,041","20,028","19,363",NaN,NaN,"4,288","4,266",NaN,NaN
93,2012,Travis,453,05-09,"13,281","12,555","2,946","2,977","18,143","17,612",NaN,NaN,"3,465","3,468",NaN,NaN
40,2015,Travis,453,10-14,"12,910","12,050","3,101","3,003","18,271","17,380",NaN,NaN,"3,454","3,649",NaN,NaN
112,2011,Travis,453,10-14,"12,027","11,337","3,258","2,982","15,477","14,651",NaN,NaN,"2,687","2,759",NaN,NaN
58,2014,Travis,453,10-14,"12,733","11,753","3,136","2,981","17,582","16,817",NaN,NaN,"3,192","3,360",NaN,NaN
76,2013,Travis,453,10-14,"12,547","11,689","3,232","3,000","17,064","16,254",NaN,NaN,"3,018","3,126",NaN,NaN
94,2012,Travis,453,10-14,"12,414","11,646","3,275","2,988","16,194","15,357",NaN,NaN,"2,847","2,920",NaN,NaN
22,2016,Travis,453,10-14,"13,030","12,203","3,054","2,987","18,618","17,692",NaN,NaN,"3,643","3,793",NaN,NaN
2,2017,Travis,453,10-14,"13,381","12,563","3,158","3,087","18,115","17,388","2,235","2,237","3,682","3,661","1,447","1,424"
59,2014,Travis,453,15-19,"12,548","12,359","3,439","3,242","16,193","15,337",NaN,NaN,"3,536","3,432",NaN,NaN
113,2011,Travis,453,15-19,"12,987","12,701","3,432","3,381","14,626","13,859",NaN,NaN,"3,174","3,069",NaN,NaN
95,2012,Travis,453,15-19,"13,352","13,105","3,502","3,409","14,725","14,087",NaN,NaN,"3,280","3,240",NaN,NaN
77,2013,Travis,453,15-19,"12,606","12,410","3,439","3,285","15,498","14,695",NaN,NaN,"3,411","3,344",NaN,NaN
41,2015,Travis,453,15-19,"12,796","12,489","3,523","3,265","17,268","16,353",NaN,NaN,"3,699","3,637",NaN,NaN
3,2017,Travis,453,15-19,"13,211","12,983","3,576","3,263","17,636","16,457","2,209","2,377","3,405","3,544","1,196","1,167"
23,2016,Travis,453,15-19,"12,834","12,439","3,539","3,280","18,132","17,174",NaN,NaN,"3,874","3,854",NaN,NaN
4,2017,Travis,453,20-24,"17,553","17,309","3,970","3,921","17,325","17,012","3,248","3,122","4,281","4,190","1,033","1,068"
60,2014,Travis,453,20-24,"17,461","16,779","3,677","4,143","19,209","17,601",NaN,NaN,"5,239","5,003",NaN,NaN
96,2012,Travis,453,20-24,"19,574","18,918","3,444","3,963","18,593","16,791",NaN,NaN,"4,930","4,775",NaN,NaN
78,2013,Travis,453,20-24,"18,629","17,855","3,605","4,092","19,240","17,454",NaN,NaN,"5,245","5,027",NaN,NaN
42,2015,Travis,453,20-24,"16,863","16,113","3,760","4,115","19,580","18,117",NaN,NaN,"5,320","5,057",NaN,NaN
114,2011,Travis,453,20-24,"20,825","20,763","3,337","3,907","18,968","16,873",NaN,NaN,"5,000","4,880",NaN,NaN
24,2016,Travis,453,20-24,"16,220","15,531","3,792","3,980","19,790","18,439",NaN,NaN,"5,358","5,069",NaN,NaN
25,2016,Travis,453,25-29,"20,635","21,005","3,235","3,671","21,395","18,693",NaN,NaN,"5,193","4,667",NaN,NaN
79,2013,Travis,453,25-29,"24,422","25,579","3,225","3,436","20,642","17,850",NaN,NaN,"4,594","4,243",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2012,Travis,453,75-79,"4,154","5,090",496,706,960,"1,409",NaN,NaN,303,383,NaN,NaN
35,2016,Travis,453,75-79,"4,677","5,682",482,786,"1,185","1,751",NaN,NaN,449,490,NaN,NaN
53,2015,Travis,453,75-79,"4,431","5,503",478,757,"1,116","1,646",NaN,NaN,407,467,NaN,NaN
125,2011,Travis,453,75-79,"4,043","4,946",474,702,914,"1,320",NaN,NaN,265,342,NaN,NaN
15,2017,Travis,453,75-79,"5,080","6,353",517,838,"1,240","1,822",452,443,517,517,65,74
89,2013,Travis,453,75-79,"4,244","5,212",505,720,"1,011","1,507",NaN,NaN,334,418,NaN,NaN
71,2014,Travis,453,75-79,"4,281","5,282",483,733,"1,060","1,574",NaN,NaN,362,443,NaN,NaN
72,2014,Travis,453,80-84,"2,982","4,001",299,526,653,981,NaN,NaN,189,252,NaN,NaN
54,2015,Travis,453,80-84,"3,031","3,956",315,544,698,"1,071",NaN,NaN,194,265,NaN,NaN
16,2017,Travis,453,80-84,"3,300","4,587",349,590,768,"1,242",209,292,243,338,34,46
90,2013,Travis,453,80-84,"3,047","4,144",277,533,636,925,NaN,NaN,186,251,NaN,NaN
108,2012,Travis,453,80-84,"3,034","4,244",278,522,604,885,NaN,NaN,178,234,NaN,NaN
126,2011,Travis,453,80-84,"2,927","4,261",254,481,551,862,NaN,NaN,158,221,NaN,NaN
36,2016,Travis,453,80-84,"2,992","3,950",327,559,723,"1,133",NaN,NaN,213,287,NaN,NaN
127,2011,Travis,453,85+,"2,510","5,066",171,503,392,765,NaN,NaN,93,156,NaN,NaN
109,2012,Travis,453,85+,"2,581","5,149",182,516,425,840,NaN,NaN,103,181,NaN,NaN
91,2013,Travis,453,85+,"2,759","5,431",186,512,442,875,NaN,NaN,121,206,NaN,NaN
73,2014,Travis,453,85+,"2,693","5,218",180,503,463,886,NaN,NaN,133,216,NaN,NaN
55,2015,Travis,453,85+,"2,795","5,286",189,509,505,940,NaN,NaN,148,243,NaN,NaN
37,2016,Travis,453,85+,"2,878","5,245",200,518,534,973,NaN,NaN,160,265,NaN,NaN
17,2017,Travis,453,85-89,"2,109","3,491",152,355,406,706,113,156,125,178,12,22
18,2017,Travis,453,90-94,862,"1,990",51,171,148,343,35,56,40,63,5,7
19,2017,Travis,453,95+,207,644,15,66,39,112,9,16,10,20,1,4
92,2012,Travis,453,< 05,"15,102","14,192","2,940","2,911","19,239","18,572",NaN,NaN,"3,555","3,461",NaN,NaN
74,2013,Travis,453,< 05,"15,851","15,066","2,994","2,945","20,229","19,432",NaN,NaN,"3,788","3,650",NaN,NaN
56,2014,Travis,453,< 05,"15,722","14,788","3,159","3,160","20,969","20,075",NaN,NaN,"4,671","4,371",NaN,NaN
38,2015,Travis,453,< 05,"16,305","15,462","3,337","3,304","21,342","20,347",NaN,NaN,"4,886","4,560",NaN,NaN
20,2016,Travis,453,< 05,"16,580","15,735","3,408","3,384","21,343","20,317",NaN,NaN,"5,133","4,704",NaN,NaN
110,2011,Travis,453,< 05,"14,536","13,605","2,943","2,919","19,151","18,624",NaN,NaN,"3,504","3,419",NaN,NaN
0,2017,Travis,453,< 05,"15,336","14,590","3,231","3,159","19,631","18,786","2,522","2,361","4,623","4,317","2,101","1,956"

In [8]:
wage_by_gender.sort_values(by="Detailed Occupation")

,ID Gender,Gender,ID Year,Year,ID Employment Time Status,Employment Time Status,ID Detailed Occupation,Detailed Occupation,Average Wage,Average Wage Appx MOE,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography
32,2,Female,2014,2014,1,Full-time,412010,Cashiers,18272.898730,1097.919082,99803,7716.167160,784,Texas,04000US48
37,1,Male,2014,2014,1,Full-time,412010,Cashiers,21752.759079,2639.565201,35991,4649.056468,268,Texas,04000US48
29,2,Female,2015,2015,1,Full-time,412010,Cashiers,19835.318982,1414.659127,92397,7428.242333,739,Texas,04000US48
26,1,Male,2015,2015,1,Full-time,412010,Cashiers,24560.428764,3172.204363,34891,4577.957639,288,Texas,04000US48
5,1,Male,2017,2017,1,Full-time,412010,Cashiers,24058.879861,2577.446577,36899,4707.689772,300,Texas,04000US48
15,2,Female,2016,2016,1,Full-time,412010,Cashiers,21198.357119,1562.528395,100633,7749.469445,758,Texas,04000US48
9,2,Female,2017,2017,1,Full-time,412010,Cashiers,20901.750238,1447.688228,95523,7552.987237,755,Texas,04000US48
10,1,Male,2016,2016,1,Full-time,412010,Cashiers,29739.176430,6623.901763,34484,4551.362218,245,Texas,04000US48
27,1,Male,2015,2015,1,Full-time,533030,Driver/sales workers & truck drivers,45211.769396,1506.162621,268981,12560.560067,2248,Texas,04000US48
21,2,Female,2015,2015,1,Full-time,533030,Driver/sales workers & truck drivers,30071.158096,4562.684703,12562,2749.988902,105,Texas,04000US48
31,2,Female,2014,2014,1,Full-time,533030,Driver/sales workers & truck drivers,33927.089669,5347.341983,13929,2895.494901,133,Texas,04000US48
36,1,Male,2014,2014,1,Full-time,533030,Driver/sales workers & truck drivers,44914.536604,1597.103817,256696,12273.337881,2211,Texas,04000US48
16,2,Female,2016,2016,1,Full-time,533030,Driver/sales workers & truck drivers,37883.569975,9739.536936,14548,2959.127016,124,Texas,04000US48
11,1,Male,2016,2016,1,Full-time,533030,Driver/sales workers & truck drivers,45752.485468,1406.731293,263136,12429.004703,2254,Texas,04000US48
2,2,Female,2017,2017,1,Full-time,533030,Driver/sales workers & truck drivers,35748.793893,4667.189878,16768,3176.610042,135,Texas,04000US48
6,1,Male,2017,2017,1,Full-time,533030,Driver/sales workers & truck drivers,48943.784925,2126.767557,268483,12555.549846,2290,Texas,04000US48
13,1,Male,2016,2016,1,Full-time,252020,Elementary & middle school teachers,50248.152208,1576.304126,73058,6612.006186,720,Texas,04000US48
4,2,Female,2017,2017,1,Full-time,252020,Elementary & middle school teachers,47260.808781,923.589424,260916,12381.986848,2724,Texas,04000US48
24,1,Male,2015,2015,1,Full-time,252020,Elementary & middle school teachers,48856.083910,2056.618372,64545,6217.253824,677,Texas,04000US48
23,2,Female,2015,2015,1,Full-time,252020,Elementary & middle school teachers,45088.671528,897.249452,253559,12204.835297,2651,Texas,04000US48
39,2,Female,2014,2014,1,Full-time,252020,Elementary & middle school teachers,44767.901585,725.607851,253620,12201.566229,2720,Texas,04000US48
18,2,Female,2016,2016,1,Full-time,252020,Elementary & middle school teachers,45778.906309,884.964472,261957,12401.871561,2736,Texas,04000US48
8,1,Male,2017,2017,1,Full-time,252020,Elementary & middle school teachers,51282.940922,2241.271288,71194,6528.300965,733,Texas,04000US48
35,1,Male,2014,2014,1,Full-time,252020,Elementary & middle school teachers,51269.828185,2162.587767,67468,6354.898566,707,Texas,04000US48
38,1,Male,2014,2014,1,Full-time,119XXX,Miscellaneous managers,109048.866218,4731.747512,203256,10952.158644,2055,Texas,04000US48
12,1,Male,2016,2016,1,Full-time,119XXX,Miscellaneous managers,111208.643517,5227.555945,215068,11263.981128,2162,Texas,04000US48
17,2,Female,2016,2016,1,Full-time,119XXX,Miscellaneous managers,82030.569416,5046.906013,103197,7846.566255,1023,Texas,04000US48
7,1,Male,2017,2017,1,Full-time,119XXX,Miscellaneous managers,114332.822954,5423.644982,223755,11487.441586,2210,Texas,04000US48
3,2,Female,2017,2017,1,Full-time,119XXX,Miscellaneous managers,76689.726074,4527.145064,110373,8113.010681,1111,Texas,04000US48
28,1,Male,2015,2015,1,Full-time,119XXX,Miscellaneous managers,114515.003525,5363.946827,218442,11348.598458,2142,Texas,04000US48
30,2,Female,2014,2014,1,Full-time,119XXX,Miscellaneous managers,75152.949256,5136.512041,86198,7176.056001,872,Texas,04000US48
22,2,Female,2015,2015,1,Full-time,119XXX,Miscellaneous managers,79034.099480,6008.106924,91013,7372.914601,930,Texas,04000US48
34,1,Male,2014,2014,1,Full-time,412031,Retail salespersons,43182.289717,3657.209396,93505,7471.186877,815,Texas,04000US48
0,1,Male,2017,2017,1,Full-time,412031,Retail salespersons,47846.352518,3804.663122,105135,7920.181697,896,Texas,04000US48
25,1,Male,2015,2015,1,Full-time,412031,Retail salespersons,47387.981534,3973.873818,103108,7842.746926,913,Texas,04000US48
20,2,Female,2015,2015,1,Full-time,412031,Retail salespersons,31821.094198,2656.230527,75617,6725.656190,609,Texas,04000US48
14,2,Female,2016,2016,1,Full-time,412031,Retail salespersons,30191.930885,2928.933623,70838,6511.492539,591,Texas,04000US48
1,2,Female,2017,2017,1,Full-time,412031,Retail salespersons,30004.730677,2799.423796,67718,6368.011331,553,Texas,04000US48
33,2,Female,2014,2014,1,Full-time,412031,Retail salespersons,29981.586597,3117.197797,69956,6470.176329,581,Texas,04000US48
19,1,Male,2016,2016,1,Full-time,412031,Retail salespersons,50456.488663,4288.531663,99144,7692.496196,861,Texas,04000US48

In [9]:
wage_by_race.sort_values(by="Year")

,ID Race,Race,ID Year,Year,ID Workforce Status,Workforce Status,ID Detailed Occupation,Detailed Occupation,Average Wage,Average Wage Appx MOE,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography
128,1,White,2014,2014,True,True,252020,Elementary & middle school teachers,42776.787190,856.158420,297382,13217.833631,3313,Texas,04000US48
98,6,Asian,2014,2014,True,True,252020,Elementary & middle school teachers,46250.022246,9564.293097,9170,2350.118355,77,Texas,04000US48
99,3,American Indian,2014,2014,True,True,252020,Elementary & middle school teachers,43712.936000,19118.829007,375,475.426577,6,Texas,04000US48
100,6,Asian,2014,2014,True,True,119XXX,Miscellaneous managers,117216.761314,17454.616448,16771,3177.194398,148,Texas,04000US48
101,6,Asian,2014,2014,True,True,533030,Driver/sales workers & truck drivers,28614.537975,10967.885607,1896,1068.953590,16,Texas,04000US48
102,3,American Indian,2014,2014,True,True,412031,Retail salespersons,22698.458190,16611.203966,873,725.380257,13,Texas,04000US48
103,3,American Indian,2014,2014,True,True,412010,Cashiers,11068.343968,4980.802518,1003,777.511231,12,Texas,04000US48
104,3,American Indian,2014,2014,True,True,533030,Driver/sales workers & truck drivers,33907.342029,17901.129630,690,644.891333,8,Texas,04000US48
105,2,Black,2014,2014,True,True,412031,Retail salespersons,21582.085590,3594.512628,30915,4311.086803,214,Texas,04000US48
106,2,Black,2014,2014,True,True,412010,Cashiers,12592.435316,1522.749298,52192,5596.404973,358,Texas,04000US48
107,2,Black,2014,2014,True,True,533030,Driver/sales workers & truck drivers,41649.939905,4142.945906,47458,5337.646676,373,Texas,04000US48
108,2,Black,2014,2014,True,True,119XXX,Miscellaneous managers,73493.213780,9715.557326,23019,3721.274990,171,Texas,04000US48
109,9,Two or More Races,2014,2014,True,True,252020,Elementary & middle school teachers,38363.336698,6413.994839,5548,1828.270005,60,Texas,04000US48
110,9,Two or More Races,2014,2014,True,True,119XXX,Miscellaneous managers,73838.726968,21928.401481,4776,1696.362072,55,Texas,04000US48
111,9,Two or More Races,2014,2014,True,True,533030,Driver/sales workers & truck drivers,45880.528043,18471.788482,5242,1777.158976,57,Texas,04000US48
127,1,White,2014,2014,True,True,533030,Driver/sales workers & truck drivers,40703.153984,1590.056627,223920,11506.391312,2005,Texas,04000US48
113,9,Two or More Races,2014,2014,True,True,412031,Retail salespersons,21734.401880,5404.221286,8510,2264.029412,63,Texas,04000US48
112,9,Two or More Races,2014,2014,True,True,412010,Cashiers,12231.048269,3780.698676,6153,1925.326413,59,Texas,04000US48
126,1,White,2014,2014,True,True,412010,Cashiers,12727.121024,721.283965,208579,11112.636003,1735,Texas,04000US48
125,1,White,2014,2014,True,True,412031,Retail salespersons,27736.649217,2043.571554,209249,11130.146381,1846,Texas,04000US48
124,1,White,2014,2014,True,True,119XXX,Miscellaneous managers,98705.085028,4116.113324,252351,12199.960051,2636,Texas,04000US48
122,5,American Indian and Alaska Native tribes speci...,2014,2014,True,True,412031,Retail salespersons,23164.238166,8743.936240,338,451.363936,5,Texas,04000US48
121,6,Asian,2014,2014,True,True,412010,Cashiers,15513.432102,2885.819695,16753,3175.491367,132,Texas,04000US48
123,6,Asian,2014,2014,True,True,412031,Retail salespersons,24822.900648,10687.352921,10035,2458.372795,98,Texas,04000US48
119,2,Black,2014,2014,True,True,252020,Elementary & middle school teachers,41904.750523,2341.082198,40164,4911.894324,324,Texas,04000US48
118,8,Other,2014,2014,True,True,412010,Cashiers,12716.470376,2374.117008,22212,3655.588704,164,Texas,04000US48
117,8,Other,2014,2014,True,True,533030,Driver/sales workers & truck drivers,40747.862610,6529.270039,21923,3631.774226,181,Texas,04000US48
116,8,Other,2014,2014,True,True,119XXX,Miscellaneous managers,57375.750904,9735.179227,7194,2081.741791,65,Texas,04000US48
115,8,Other,2014,2014,True,True,252020,Elementary & middle school teachers,40075.587636,6156.954583,5791,1867.860308,67,Texas,04000US48
114,3,American Indian,2014,2014,True,True,119XXX,Miscellaneous managers,60846.737705,46655.555896,732,664.227357,13,Texas,04000US48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,8,Other,2017,2017,True,True,533030,Driver/sales workers & truck drivers,61135.259297,16153.078867,23286,3742.968895,184,Texas,04000US48
11,8,Other,2017,2017,True,True,412010,Cashiers,13979.814871,1762.326058,28283,4124.243393,209,Texas,04000US48
10,8,Other,2017,2017,True,True,412031,Retail salespersons,23078.333333,4697.227655,15168,3021.861485,118,Texas,04000US48
9,1,White,2017,2017,True,True,412031,Retail salespersons,29707.689519,2133.340039,220445,11424.855114,1966,Texas,04000US48
8,1,White,2017,2017,True,True,412010,Cashiers,14254.146975,946.648469,203041,10972.379923,1738,Texas,04000US48
5,1,White,2017,2017,True,True,252020,Elementary & middle school teachers,43900.600405,1038.657715,308705,13471.057979,3380,Texas,04000US48
6,1,White,2017,2017,True,True,119XXX,Miscellaneous managers,103115.965131,4519.679010,283576,12924.476788,2920,Texas,04000US48
4,9,Two or More Races,2017,2017,True,True,252020,Elementary & middle school teachers,45618.450450,5322.337122,6882,2036.161331,72,Texas,04000US48
3,9,Two or More Races,2017,2017,True,True,119XXX,Miscellaneous managers,86430.587985,22866.284236,7524,2128.962714,74,Texas,04000US48
2,9,Two or More Races,2017,2017,True,True,533030,Driver/sales workers & truck drivers,39007.477377,9268.471191,4133,1578.103411,45,Texas,04000US48
1,9,Two or More Races,2017,2017,True,True,412031,Retail salespersons,21091.920452,8820.370169,8146,2215.159608,64,Texas,04000US48
7,1,White,2017,2017,True,True,533030,Driver/sales workers & truck drivers,43602.265320,1817.940365,235806,11808.791289,2091,Texas,04000US48
15,2,Black,2017,2017,True,True,252020,Elementary & middle school teachers,45789.250694,2361.461269,39981,4901.218402,309,Texas,04000US48
31,5,American Indian and Alaska Native tribes speci...,2017,2017,True,True,533030,Driver/sales workers & truck drivers,40881.776471,6302.024081,680,640.202506,6,Texas,04000US48
17,2,Black,2017,2017,True,True,533030,Driver/sales workers & truck drivers,43733.762359,3232.684802,54797,5734.513279,391,Texas,04000US48
18,2,Black,2017,2017,True,True,412010,Cashiers,12680.454003,2057.128477,44264,5156.175623,293,Texas,04000US48
19,2,Black,2017,2017,True,True,412031,Retail salespersons,27765.597865,3803.121625,38226,4792.778106,247,Texas,04000US48
20,6,Asian,2017,2017,True,True,412031,Retail salespersons,22273.192485,4794.422953,12988,2796.530426,112,Texas,04000US48
21,6,Asian,2017,2017,True,True,412010,Cashiers,17982.323896,2829.353205,17660,3260.335396,167,Texas,04000US48
22,6,Asian,2017,2017,True,True,533030,Driver/sales workers & truck drivers,31556.040094,5573.399183,4689,1680.866355,32,Texas,04000US48
23,6,Asian,2017,2017,True,True,119XXX,Miscellaneous managers,106579.454091,14261.603106,22795,3703.370289,226,Texas,04000US48
24,6,Asian,2017,2017,True,True,252020,Elementary & middle school teachers,38660.868204,5446.976092,9196,2353.498902,91,Texas,04000US48
25,3,American Indian,2017,2017,True,True,252020,Elementary & middle school teachers,46913.518044,10576.616157,859,719.542379,10,Texas,04000US48
26,3,American Indian,2017,2017,True,True,119XXX,Miscellaneous managers,111159.365639,130995.980494,681,640.673045,12,Texas,04000US48
27,3,American Indian,2017,2017,True,True,533030,Driver/sales workers & truck drivers,35400.393632,20068.862081,691,645.359557,6,Texas,04000US48
28,3,American Indian,2017,2017,True,True,412010,Cashiers,11054.226021,5114.065094,1053,796.655579,10,Texas,04000US48
29,3,American Indian,2017,2017,True,True,412031,Retail salespersons,26122.098993,40173.717039,596,599.359657,10,Texas,04000US48
30,5,American Indian and Alaska Native tribes speci...,2017,2017,True,True,412010,Cashiers,11253.437543,5990.735643,1449,934.509478,10,Texas,04000US48
16,9,Two or More Races,2017,2017,True,True,412010,Cashiers,12080.025890,2504.433048,9888,2440.375660,84,Texas,04000US48
0,2,Black,2017,2017,True,True,119XXX,Miscellaneous managers,69171.764829,6422.316804,30548,4285.814751,226,Texas,04000US48

In [10]:
wage_distribution[['Wage Bin',
                 'Year',
                 'Total Population',
                 'Total Population MOE Appx',
                 'Geography',
                 'share']]

,ID Wage Bin,Wage Bin,ID Year,Year,ID Workforce Status,Workforce Status,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography,Slug Geography,share
0,14,$130-140k,2017,2017,True,True,1219921,27004.731372,12557,United States,01000US,united-states,0.008258
1,21,$200k+,2017,2017,True,True,292893,13130.056698,3277,Texas,04000US48,NaN,0.023495
2,20,$190-200k,2017,2017,True,True,16152,3118.217360,193,Texas,04000US48,NaN,0.001296
3,2,$10-20k,2017,2017,True,True,19419097,100828.642897,174077,United States,01000US,united-states,0.131461
4,3,$20-30k,2017,2017,True,True,21457270,105142.742730,190148,United States,01000US,united-states,0.145259