## Housing Affordability in Austin, Texas
Our analysis will go here

## Data Import and Cleanup
- Import dependencies
- Load data into dataframes
- Grab columns we want for analysis

In [1]:
# import data and dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# read in data into dataframes 
age_nativity = pd.read_csv("data/age_by_nativity.csv")
employment_by_industry = pd.read_csv("data/employment_by_industries.csv")
property_value = pd.read_csv("data/property_value.csv")
demographics = pd.read_csv("data/tdc_download_tool.csv")
wage_by_gender = pd.read_csv("data/wage_by_gender_in_common_jobs.csv")
wage_by_race = pd.read_csv("data/wage_by_race_and_ethnicity_in_common_jobs.csv")
wage_distribution = pd.read_csv("data/wage_distribution.csv")

In [ ]:
# grab columns we want about propery data 
property_value[['Value Bucket',
               'Year',
               'Property Value by Bucket',
               'Property Value by Bucket Moe',
               'Geography',
               'share']]

In [ ]:
# grab columns we want about population data 
age_nativity[['ID Age',
              'Age', 
              'Year', 
              'Birthplace', 
              'Birthplace Moe', 
              'nativity', 
              'share']]

In [7]:
# grab columns we want about wage data 
wage_by_gender[["Gender",
                "Year",
               "Detailed Occupation",
               "Average Wage",
               "Average Wage Appx MOE",
               "Total Population",
               "Total Population MOE Appx",
                "Geography"]]

wage_by_race[["Race",
             "Year",
             "Detailed Occupation",
             "Average Wage",
             "Average Wage Appx MOE",
             "Total Population",
             "Total Population MOE Appx",
             "Geography"]]

wage_distribution[['Wage Bin',
                 'Year',
                 'Total Population',
                 'Total Population MOE Appx',
                 'Geography',
                 'share']]

,Race,Year,Detailed Occupation,Average Wage,Average Wage Appx MOE,Total Population,Total Population MOE Appx,Geography
0,Black,2017,Miscellaneous managers,69171.764829,6422.316804,30548,4285.814751,Texas
1,Two or More Races,2017,Retail salespersons,21091.920452,8820.370169,8146,2215.159608,Texas
2,Two or More Races,2017,Driver/sales workers & truck drivers,39007.477377,9268.471191,4133,1578.103411,Texas
3,Two or More Races,2017,Miscellaneous managers,86430.587985,22866.284236,7524,2128.962714,Texas
4,Two or More Races,2017,Elementary & middle school teachers,45618.450450,5322.337122,6882,2036.161331,Texas
5,White,2017,Elementary & middle school teachers,43900.600405,1038.657715,308705,13471.057979,Texas
6,White,2017,Miscellaneous managers,103115.965131,4519.679010,283576,12924.476788,Texas
7,White,2017,Driver/sales workers & truck drivers,43602.265320,1817.940365,235806,11808.791289,Texas
8,White,2017,Cashiers,14254.146975,946.648469,203041,10972.379923,Texas
9,White,2017,Retail salespersons,29707.689519,2133.340039,220445,11424.855114,Texas
10,Other,2017,Retail salespersons,23078.333333,4697.227655,15168,3021.861485,Texas
11,Other,2017,Cashiers,13979.814871,1762.326058,28283,4124.243393,Texas
12,Other,2017,Driver/sales workers & truck drivers,61135.259297,16153.078867,23286,3742.968895,Texas
13,Other,2017,Miscellaneous managers,62098.334421,18332.315300,9198,2353.754625,Texas
14,Other,2017,Elementary & middle school teachers,46176.730561,3984.454441,8848,2308.570500,Texas
15,Black,2017,Elementary & middle school teachers,45789.250694,2361.461269,39981,4901.218402,Texas
16,Two or More Races,2017,Cashiers,12080.025890,2504.433048,9888,2440.375660,Texas
17,Black,2017,Driver/sales workers & truck drivers,43733.762359,3232.684802,54797,5734.513279,Texas
18,Black,2017,Cashiers,12680.454003,2057.128477,44264,5156.175623,Texas
19,Black,2017,Retail salespersons,27765.597865,3803.121625,38226,4792.778106,Texas
20,Asian,2017,Retail salespersons,22273.192485,4794.422953,12988,2796.530426,Texas
21,Asian,2017,Cashiers,17982.323896,2829.353205,17660,3260.335396,Texas
22,Asian,2017,Driver/sales workers & truck drivers,31556.040094,5573.399183,4689,1680.866355,Texas
23,Asian,2017,Miscellaneous managers,106579.454091,14261.603106,22795,3703.370289,Texas
24,Asian,2017,Elementary & middle school teachers,38660.868204,5446.976092,9196,2353.498902,Texas
25,American Indian,2017,Elementary & middle school teachers,46913.518044,10576.616157,859,719.542379,Texas
26,American Indian,2017,Miscellaneous managers,111159.365639,130995.980494,681,640.673045,Texas
27,American Indian,2017,Driver/sales workers & truck drivers,35400.393632,20068.862081,691,645.359557,Texas
28,American Indian,2017,Cashiers,11054.226021,5114.065094,1053,796.655579,Texas
29,American Indian,2017,Retail salespersons,26122.098993,40173.717039,596,599.359657,Texas
...,...,...,...,...,...,...,...,...
99,American Indian,2014,Elementary & middle school teachers,43712.936000,19118.829007,375,475.426577,Texas
100,Asian,2014,Miscellaneous managers,117216.761314,17454.616448,16771,3177.194398,Texas
101,Asian,2014,Driver/sales workers & truck drivers,28614.537975,10967.885607,1896,1068.953590,Texas
102,American Indian,2014,Retail salespersons,22698.458190,16611.203966,873,725.380257,Texas
103,American Indian,2014,Cashiers,11068.343968,4980.802518,1003,777.511231,Texas
104,American Indian,2014,Driver/sales workers & truck drivers,33907.342029,17901.129630,690,644.891333,Texas
105,Black,2014,Retail salespersons,21582.085590,3594.512628,30915,4311.086803,Texas
106,Black,2014,Cashiers,12592.435316,1522.749298,52192,5596.404973,Texas
107,Black,2014,Driver/sales workers & truck drivers,41649.939905,4142.945906,47458,5337.646676,Texas
108,Black,2014,Miscellaneous managers,73493.213780,9715.557326,23019,3721.274990,Texas
109,Two or More Races,2014,Elementary & middle school teachers,38363.336698,6413.994839,5548,1828.270005,Texas
110,Two or More Races,2014,Miscellaneous managers,73838.726968,21928.401481,4776,1696.362072,Texas
111,Two or More Races,2014,Driver/sales workers & truck drivers,45880.528043,18471.788482,5242,1777.158976,Texas
112,Two or More Races,2014,Cashiers,12231.048269,3780.698676,6153,1925.326413,Texas
113,Two or More Races,2014,Retail salespersons,21734.401880,5404.221286,8510,2264.029412,Texas
114,American Indian,2014,Miscellaneous managers,60846.737705,46655.555896,732,664.227357,Texas
115,Other,2014,Elementary & middle school teachers,40075.587636,6156.954583,5791,1867.860308,Texas
116,Other,2014,Miscellaneous managers,57375.750904,9735.179227,7194,2081.741791,Texas
117,Other,2014,Driver/sales workers & truck drivers,40747.862610,6529.270039,21923,3631.774226,Texas
118,Other,2014,Cashiers,12716.470376,2374.117008,22212,3655.588704,Texas
119,Black,2014,Elementary & middle school teachers,41904.750523,2341.082198,40164,4911.894324,Texas
120,Other,2014,Retail salespersons,21929.177476,4778.316926,15450,3049.671210,Texas
121,Asian,2014,Cashiers,15513.432102,2885.819695,16753,3175.491367,Texas
122,American Indian and Alaska Native tribes speci...,2014,Retail salespersons,23164.238166,8743.936240,338,451.363936,Texas
123,Asian,2014,Retail salespersons,24822.900648,10687.352921,10035,2458.372795,Texas
124,White,2014,Miscellaneous managers,98705.085028,4116.113324,252351,12199.960051,Texas
125,White,2014,Retail salespersons,27736.649217,2043.571554,209249,11130.146381,Texas
126,White,2014,Cashiers,12727.121024,721.283965,208579,11112.636003,Texas
127,White,2014,Driver/sales workers & truck drivers,40703.153984,1590.056627,223920,11506.391312,Texas
128,White,2014,Elementary & middle school teachers,42776.787190,856.158420,297382,13217.833631,Texas

In [8]:
# grab columns we want about industry data
employment_by_industry[['Industry', 
                        'Year', 
                        'Workforce by Industry and Gender', 
                        'Workforce by Industry and Gender Moe']]

,Industry,Year,Workforce by Industry and Gender,Workforce by Industry and Gender Moe
0,Educational Services,2017,58591,4083.898750
1,Public Administration,2017,29054,2868.084378
2,"Other Services, Except Public Administration",2017,26993,3119.346246
3,"Mining, Quarrying, & Oil & Gas Extraction",2017,2802,875.727126
4,Accommodation & Food Services,2017,48958,3997.982741
5,Construction,2017,41460,5012.614188
6,"Arts, Entertainment, & Recreation",2017,13123,2272.642955
7,Manufacturing,2017,41586,4264.172604
8,Health Care & Social Assistance,2017,52161,4151.356044
9,Wholesale Trade,2017,9351,1756.259662
10,"Agriculture, Forestry, Fishing & Hunting",2017,1548,722.432004
11,Retail Trade,2017,47784,3938.827364
12,Administrative & Support & Waste Management Se...,2017,22313,2945.795139
13,Transportation & Warehousing,2017,17502,3318.853567
14,Management of Companies & Enterprises,2017,963,653.153887
15,Utilities,2017,3421,1155.152804
16,"Professional, Scientific, & Technical Services",2017,75427,4561.085178
17,Information,2017,19041,2643.342013
18,Real Estate & Rental & Leasing,2017,18199,2840.957057
19,Finance & Insurance,2017,20807,2487.251696
20,Construction,2016,42818,4589.525901
21,Educational Services,2016,53372,4037.403126
22,Retail Trade,2016,60380,5674.609061
23,"Other Services, Except Public Administration",2016,27626,3435.864520
24,"Mining, Quarrying, & Oil & Gas Extraction",2016,1559,727.983516
25,Administrative & Support & Waste Management Se...,2016,24394,2752.262524
26,Transportation & Warehousing,2016,13855,2491.362077
27,"Arts, Entertainment, & Recreation",2016,14465,2246.049421
28,Manufacturing,2016,40325,3454.000000
29,Management of Companies & Enterprises,2016,542,395.839614
...,...,...,...,...
70,Information,2014,15138,2043.526364
71,Transportation & Warehousing,2014,12814,2403.589399
72,Construction,2014,33731,3079.351880
73,"Other Services, Except Public Administration",2014,24772,2855.858015
74,Educational Services,2014,56249,3620.400668
75,Management of Companies & Enterprises,2014,679,515.097078
76,"Mining, Quarrying, & Oil & Gas Extraction",2014,1965,790.432793
77,Public Administration,2014,27129,2470.626236
78,"Professional, Scientific, & Technical Services",2014,63053,3992.599780
79,Retail Trade,2014,53832,4204.071003
80,"Arts, Entertainment, & Recreation",2013,11015,1737.385680
81,Administrative & Support & Waste Management Se...,2013,21663,2909.255747
82,"Mining, Quarrying, & Oil & Gas Extraction",2013,2219,731.207905
83,Utilities,2013,3750,1497.571701
84,"Professional, Scientific, & Technical Services",2013,60187,4125.176966
85,Accommodation & Food Services,2013,45900,4425.789873
86,Finance & Insurance,2013,21748,2485.354301
87,Educational Services,2013,52255,4126.908770
88,Construction,2013,35756,3740.748722
89,"Agriculture, Forestry, Fishing & Hunting",2013,1069,495.665210
90,"Other Services, Except Public Administration",2013,29808,3501.300615
91,Transportation & Warehousing,2013,11129,2292.573445
92,Management of Companies & Enterprises,2013,344,314.226033
93,Health Care & Social Assistance,2013,44222,3257.077371
94,Manufacturing,2013,34409,3333.601356
95,Public Administration,2013,27913,3073.191501
96,Information,2013,15588,2562.337995
97,Retail Trade,2013,51960,4073.599146
98,Wholesale Trade,2013,8539,2203.452064
99,Real Estate & Rental & Leasing,2013,13258,1997.711190

## Austin Basics (Ashley)
- Propery values over time 
- Population changes over time 
- Wage distribution over time

In [ ]:
# charts on property values over time

In [ ]:
# charts on population changes over time 
# show which working ages live here
# include age nativity

In [ ]:
# charts on wage distribution over time 
# show which wage bins can afford to live here and the # against total population

## Austin Income Differences (Valeria & Vincent)
- Wage vs gender over time 
- Wage vs race over time

In [ ]:
# charts on wage vs gender over time 
# what is the gender/occupation that can afford to live in austin each year?
# what is the gender/occupation that cannot afford to live in austin each year?

In [ ]:
# charts on wage vs race over time 
# what is the race/occupation that can afford to live in austin each year?
# what is the race/occupation that cannot afford to live in austin each year?

## Austin Industry Information (Mark)
- Changes in industry over time

In [ ]:
# charts on industry changes over time 
# what trends do we see in industry?
# which genders/races typically work in the top industry? can they afford to live in austin each year?
# which genders/races typically work in the bottom industry? can they afford to live in austin each year?