In [1]:
# import data and dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint

In [11]:
# clean up data 
age_nativity = pd.read_csv("data/age_by_nativity.csv")
employment_by_industry = pd.read_csv("data/employment_by_industries.csv")
# employment_by_occupation = pd.read_csv("data/employment_by_occupations.csv")
property_value = pd.read_csv("data/property_value.csv")
demographics = pd.read_csv("data/tdc_download_tool.csv")
wage_by_gender = pd.read_csv("data/wage_by_gender_in_common_jobs.csv")
wage_by_race = pd.read_csv("data/wage_by_race_and_ethnicity_in_common_jobs.csv")
wage_distribution = pd.read_csv("data/wage_distribution.csv")

In [18]:
# age_nativity[['ID Age',
#               'Age', 
#               'Year', 
#               'Birthplace', 
#               'Birthplace Moe', 
#               'nativity', 
#               'share']]
age_nativity.tail()

,ID Place of Birth,Place of Birth,ID Age,Age,ID Year,Year,Birthplace,Birthplace Moe,Geography,ID Geography,Slug Geography,nativity,share
105,3,Foreign Born,0,Under 5 Years,2013,2013,1217,578.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.001374
106,3,Foreign Born,9,65 to 74 Years,2013,2013,6137,1291.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.006931
107,3,Foreign Born,1,5 to 17 Years,2013,2013,9353,1990.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.010563
108,3,Foreign Born,10,75 Years & Over,2013,2013,3313,904.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.003742
109,3,Foreign Born,2,18 to 24 Years,2013,2013,18858,2456.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.021298

In [17]:
employment_by_industry.tail(15)
employment_by_industry[['Industry', 
                        'Year', 
                        'Workforce by Industry and Gender', 
                        'Workforce by Industry and Gender Moe']]

,ID Group,Group,ID Industry,Industry,ID Year,Year,ID State,State,Workforce by Industry and Gender,Workforce by Industry and Gender Moe,Geography,ID Geography,Slug Geography
85,10,"Arts, Entertainment, & Recreation, & Accommoda...",17,Accommodation & Food Services,2013,2013,04000US48,Texas,45900,4425.789873,"Austin, TX",16000US4805000,austin-tx
86,7,"Finance & Insurance, & Real Estate & Rental & ...",9,Finance & Insurance,2013,2013,04000US48,Texas,21748,2485.354301,"Austin, TX",16000US4805000,austin-tx
87,9,"Educational Services, & Health Care & Social A...",14,Educational Services,2013,2013,04000US48,Texas,52255,4126.908770,"Austin, TX",16000US4805000,austin-tx
88,1,Construction (Group),2,Construction,2013,2013,04000US48,Texas,35756,3740.748722,"Austin, TX",16000US4805000,austin-tx
89,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",0,"Agriculture, Forestry, Fishing & Hunting",2013,2013,04000US48,Texas,1069,495.665210,"Austin, TX",16000US4805000,austin-tx
90,11,"Other Services, Except Public Administration (...",18,"Other Services, Except Public Administration",2013,2013,04000US48,Texas,29808,3501.300615,"Austin, TX",16000US4805000,austin-tx
91,5,"Transportation & Warehousing, & Utilities",6,Transportation & Warehousing,2013,2013,04000US48,Texas,11129,2292.573445,"Austin, TX",16000US4805000,austin-tx
92,8,"Professional, Scientific, & Management, & Admi...",12,Management of Companies & Enterprises,2013,2013,04000US48,Texas,344,314.226033,"Austin, TX",16000US4805000,austin-tx
93,9,"Educational Services, & Health Care & Social A...",15,Health Care & Social Assistance,2013,2013,04000US48,Texas,44222,3257.077371,"Austin, TX",16000US4805000,austin-tx
94,2,Manufacturing (Group),3,Manufacturing,2013,2013,04000US48,Texas,34409,3333.601356,"Austin, TX",16000US4805000,austin-tx
95,12,Public Administration (Group),19,Public Administration,2013,2013,04000US48,Texas,27913,3073.191501,"Austin, TX",16000US4805000,austin-tx
96,6,Information (Group),8,Information,2013,2013,04000US48,Texas,15588,2562.337995,"Austin, TX",16000US4805000,austin-tx
97,4,Retail Trade (Group),5,Retail Trade,2013,2013,04000US48,Texas,51960,4073.599146,"Austin, TX",16000US4805000,austin-tx
98,3,Wholesale Trade (Group),4,Wholesale Trade,2013,2013,04000US48,Texas,8539,2203.452064,"Austin, TX",16000US4805000,austin-tx
99,7,"Finance & Insurance, & Real Estate & Rental & ...",10,Real Estate & Rental & Leasing,2013,2013,04000US48,Texas,13258,1997.711190,"Austin, TX",16000US4805000,austin-tx

In [21]:
# property_value[['Value Bucket',
#                'Year',
#                'Property Value by Bucket',
#                'Property Value by Bucket Moe',
#                'Geography',
#                'share']]

,ID Value Bucket,Value Bucket,ID Year,Year,Property Value by Bucket,Property Value by Bucket Moe,Geography,ID Geography,Slug Geography,share
151,15,"$150,000 to $174,999",2015,2015,6487224,41429.0,United States,01000US,united-states,0.087069
152,8,"$50,000 to $59,999",2015,2015,716,393.0,"Austin, TX",16000US4805000,austin-tx,0.004424
153,25,"$2,000,000 or More",2015,2015,1514,540.0,"Austin, TX",16000US4805000,austin-tx,0.009355
154,23,"$1,000,000 to $1,499,999",2015,2015,1102169,12720.0,United States,01000US,united-states,0.014793
155,0,"Less Than $10,000",2015,2015,1377,550.0,"Austin, TX",16000US4805000,austin-tx,0.008509

In [22]:
demographics.head()
demographics[[]]

,Year,Area Name,Area Code,Age,White Male,White Female,Black Male,Black Female,Hispanic Male,Hispanic Female,Asian Male,Asian Female,Other w Asian Male,Other w Asian Female,Other w/o Asian Male,Other w/o Asian Female
0,2017,Travis,453,< 05,"15,336","14,590","3,231","3,159","19,631","18,786","2,522","2,361","4,623","4,317","2,101","1,956"
1,2017,Travis,453,05-09,"14,209","13,366","3,066","2,965","19,100","18,416","2,366","2,280","4,083","4,020","1,717","1,740"
2,2017,Travis,453,10-14,"13,381","12,563","3,158","3,087","18,115","17,388","2,235","2,237","3,682","3,661","1,447","1,424"
3,2017,Travis,453,15-19,"13,211","12,983","3,576","3,263","17,636","16,457","2,209","2,377","3,405","3,544","1,196","1,167"
4,2017,Travis,453,20-24,"17,553","17,309","3,970","3,921","17,325","17,012","3,248","3,122","4,281","4,190","1,033","1,068"