In [2]:
# import data and dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint

In [3]:
# clean up data 
age_nativity = pd.read_csv("data/age_by_nativity.csv")
employment_by_industry = pd.read_csv("data/employment_by_industries.csv")
# employment_by_occupation = pd.read_csv("data/employment_by_occupations.csv")
property_value = pd.read_csv("data/property_value.csv")
demographics = pd.read_csv("data/tdc_download_tool.csv")
wage_by_gender = pd.read_csv("data/wage_by_gender_in_common_jobs.csv")
wage_by_race = pd.read_csv("data/wage_by_race_and_ethnicity_in_common_jobs.csv")
wage_distribution = pd.read_csv("data/wage_distribution.csv")

In [18]:
# age_nativity[['ID Age',
#               'Age', 
#               'Year', 
#               'Birthplace', 
#               'Birthplace Moe', 
#               'nativity', 
#               'share']]
age_nativity.tail()

,ID Place of Birth,Place of Birth,ID Age,Age,ID Year,Year,Birthplace,Birthplace Moe,Geography,ID Geography,Slug Geography,nativity,share
105,3,Foreign Born,0,Under 5 Years,2013,2013,1217,578.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.001374
106,3,Foreign Born,9,65 to 74 Years,2013,2013,6137,1291.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.006931
107,3,Foreign Born,1,5 to 17 Years,2013,2013,9353,1990.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.010563
108,3,Foreign Born,10,75 Years & Over,2013,2013,3313,904.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.003742
109,3,Foreign Born,2,18 to 24 Years,2013,2013,18858,2456.0,"Austin, TX",16000US4805000,austin-tx,Foreign Born,0.021298

In [17]:
employment_by_industry.tail(15)
employment_by_industry[['Industry', 
                        'Year', 
                        'Workforce by Industry and Gender', 
                        'Workforce by Industry and Gender Moe']]

,ID Group,Group,ID Industry,Industry,ID Year,Year,ID State,State,Workforce by Industry and Gender,Workforce by Industry and Gender Moe,Geography,ID Geography,Slug Geography
85,10,"Arts, Entertainment, & Recreation, & Accommoda...",17,Accommodation & Food Services,2013,2013,04000US48,Texas,45900,4425.789873,"Austin, TX",16000US4805000,austin-tx
86,7,"Finance & Insurance, & Real Estate & Rental & ...",9,Finance & Insurance,2013,2013,04000US48,Texas,21748,2485.354301,"Austin, TX",16000US4805000,austin-tx
87,9,"Educational Services, & Health Care & Social A...",14,Educational Services,2013,2013,04000US48,Texas,52255,4126.908770,"Austin, TX",16000US4805000,austin-tx
88,1,Construction (Group),2,Construction,2013,2013,04000US48,Texas,35756,3740.748722,"Austin, TX",16000US4805000,austin-tx
89,0,"Agriculture, Forestry, Fishing & Hunting, & Mi...",0,"Agriculture, Forestry, Fishing & Hunting",2013,2013,04000US48,Texas,1069,495.665210,"Austin, TX",16000US4805000,austin-tx
90,11,"Other Services, Except Public Administration (...",18,"Other Services, Except Public Administration",2013,2013,04000US48,Texas,29808,3501.300615,"Austin, TX",16000US4805000,austin-tx
91,5,"Transportation & Warehousing, & Utilities",6,Transportation & Warehousing,2013,2013,04000US48,Texas,11129,2292.573445,"Austin, TX",16000US4805000,austin-tx
92,8,"Professional, Scientific, & Management, & Admi...",12,Management of Companies & Enterprises,2013,2013,04000US48,Texas,344,314.226033,"Austin, TX",16000US4805000,austin-tx
93,9,"Educational Services, & Health Care & Social A...",15,Health Care & Social Assistance,2013,2013,04000US48,Texas,44222,3257.077371,"Austin, TX",16000US4805000,austin-tx
94,2,Manufacturing (Group),3,Manufacturing,2013,2013,04000US48,Texas,34409,3333.601356,"Austin, TX",16000US4805000,austin-tx
95,12,Public Administration (Group),19,Public Administration,2013,2013,04000US48,Texas,27913,3073.191501,"Austin, TX",16000US4805000,austin-tx
96,6,Information (Group),8,Information,2013,2013,04000US48,Texas,15588,2562.337995,"Austin, TX",16000US4805000,austin-tx
97,4,Retail Trade (Group),5,Retail Trade,2013,2013,04000US48,Texas,51960,4073.599146,"Austin, TX",16000US4805000,austin-tx
98,3,Wholesale Trade (Group),4,Wholesale Trade,2013,2013,04000US48,Texas,8539,2203.452064,"Austin, TX",16000US4805000,austin-tx
99,7,"Finance & Insurance, & Real Estate & Rental & ...",10,Real Estate & Rental & Leasing,2013,2013,04000US48,Texas,13258,1997.711190,"Austin, TX",16000US4805000,austin-tx

In [21]:
# property_value[['Value Bucket',
#                'Year',
#                'Property Value by Bucket',
#                'Property Value by Bucket Moe',
#                'Geography',
#                'share']]

,ID Value Bucket,Value Bucket,ID Year,Year,Property Value by Bucket,Property Value by Bucket Moe,Geography,ID Geography,Slug Geography,share
151,15,"$150,000 to $174,999",2015,2015,6487224,41429.0,United States,01000US,united-states,0.087069
152,8,"$50,000 to $59,999",2015,2015,716,393.0,"Austin, TX",16000US4805000,austin-tx,0.004424
153,25,"$2,000,000 or More",2015,2015,1514,540.0,"Austin, TX",16000US4805000,austin-tx,0.009355
154,23,"$1,000,000 to $1,499,999",2015,2015,1102169,12720.0,United States,01000US,united-states,0.014793
155,0,"Less Than $10,000",2015,2015,1377,550.0,"Austin, TX",16000US4805000,austin-tx,0.008509

In [24]:
demographics.tail()

,Year,Area Name,Area Code,Age,White Male,White Female,Black Male,Black Female,Hispanic Male,Hispanic Female,Asian Male,Asian Female,Other w Asian Male,Other w Asian Female,Other w/o Asian Male,Other w/o Asian Female
38,2015,Travis,453,< 05,"16,305","15,462","3,337","3,304","21,342","20,347",NaN,NaN,"4,886","4,560",NaN,NaN
57,2014,Travis,453,05-09,"13,503","12,703","2,953","2,932","18,699","18,045",NaN,NaN,"3,757","3,795",NaN,NaN
65,2014,Travis,453,45-49,"18,710","17,368","2,852","3,056","10,829","10,388",NaN,NaN,"2,903","2,925",NaN,NaN
28,2016,Travis,453,40-44,"22,589","19,430","2,915","3,060","15,144","14,086",NaN,NaN,"5,631","5,818",NaN,NaN
72,2014,Travis,453,80-84,"2,982","4,001",299,526,653,981,NaN,NaN,189,252,NaN,NaN
15,2017,Travis,453,75-79,"5,080","6,353",517,838,"1,240","1,822",452,443,517,517,65,74
81,2013,Travis,453,35-39,"24,728","22,339","2,993","3,116","16,129","14,589",NaN,NaN,"4,898","5,101",NaN,NaN
56,2014,Travis,453,< 05,"15,722","14,788","3,159","3,160","20,969","20,075",NaN,NaN,"4,671","4,371",NaN,NaN
42,2015,Travis,453,20-24,"16,863","16,113","3,760","4,115","19,580","18,117",NaN,NaN,"5,320","5,057",NaN,NaN
106,2012,Travis,453,70-74,"6,173","6,966",660,958,"1,473","1,991",NaN,NaN,538,570,NaN,NaN

In [5]:
wage_by_race.head(10)
wage_by_race[['Race', 
              'Year', 
              'Detailed Occupation', 
              'Average Wage', 
              'Average Wage Appx MOE',
             'Total Population',
             'Total Population MOE Appx']]

,ID Race,Race,ID Year,Year,ID Workforce Status,Workforce Status,ID Detailed Occupation,Detailed Occupation,Average Wage,Average Wage Appx MOE,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography
0,2,Black,2017,2017,True,True,119XXX,Miscellaneous managers,69171.764829,6422.316804,30548,4285.814751,226,Texas,04000US48
1,9,Two or More Races,2017,2017,True,True,412031,Retail salespersons,21091.920452,8820.370169,8146,2215.159608,64,Texas,04000US48
2,9,Two or More Races,2017,2017,True,True,533030,Driver/sales workers & truck drivers,39007.477377,9268.471191,4133,1578.103411,45,Texas,04000US48
3,9,Two or More Races,2017,2017,True,True,119XXX,Miscellaneous managers,86430.587985,22866.284236,7524,2128.962714,74,Texas,04000US48
4,9,Two or More Races,2017,2017,True,True,252020,Elementary & middle school teachers,45618.450450,5322.337122,6882,2036.161331,72,Texas,04000US48
5,1,White,2017,2017,True,True,252020,Elementary & middle school teachers,43900.600405,1038.657715,308705,13471.057979,3380,Texas,04000US48
6,1,White,2017,2017,True,True,119XXX,Miscellaneous managers,103115.965131,4519.679010,283576,12924.476788,2920,Texas,04000US48
7,1,White,2017,2017,True,True,533030,Driver/sales workers & truck drivers,43602.265320,1817.940365,235806,11808.791289,2091,Texas,04000US48
8,1,White,2017,2017,True,True,412010,Cashiers,14254.146975,946.648469,203041,10972.379923,1738,Texas,04000US48
9,1,White,2017,2017,True,True,412031,Retail salespersons,29707.689519,2133.340039,220445,11424.855114,1966,Texas,04000US48

In [7]:
wage_distribution.tail()
wage_distribution[['Wage Bin',
                  'Year',
                  'Total Population',
                  'Total Population MOE Appx',
                  'Geography',
                  'share']]

,ID Wage Bin,Wage Bin,ID Year,Year,ID Workforce Status,Workforce Status,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography,Slug Geography,share
163,14,$130-140k,2014,2014,True,True,956819,23933.668955,9807,United States,01000US,united-states,0.006794
164,21,$200k+,2014,2014,True,True,234093,11759.666009,2638,Texas,04000US48,NaN,0.019941
165,11,$100-110k,2014,2014,True,True,256178,12290.072652,2623,Texas,04000US48,NaN,0.021823
166,3,$20-30k,2014,2014,True,True,20932980,103644.586576,189492,United States,01000US,united-states,0.148641
167,1,< $10K,2014,2014,True,True,1536930,28374.647569,13885,Texas,04000US48,NaN,0.130925

In [12]:
wage_by_gender.sort_values(by='Employment Time Status').tail()
wage_by_gender[['Gender',
               'Year',
               'Detailed Occupation',
               'Average Wage',
               'Average Wage Appx MOE',
               'Total Population',
               'Total Population MOE Appx',
               'Geography']]

,ID Gender,Gender,ID Year,Year,ID Employment Time Status,Employment Time Status,ID Detailed Occupation,Detailed Occupation,Average Wage,Average Wage Appx MOE,Total Population,Total Population MOE Appx,Record Count,Geography,ID Geography
15,2,Female,2016,2016,1,Full-time,412010,Cashiers,21198.357119,1562.528395,100633,7749.469445,758,Texas,04000US48
16,2,Female,2016,2016,1,Full-time,533030,Driver/sales workers & truck drivers,37883.569975,9739.536936,14548,2959.127016,124,Texas,04000US48
17,2,Female,2016,2016,1,Full-time,119XXX,Miscellaneous managers,82030.569416,5046.906013,103197,7846.566255,1023,Texas,04000US48
38,1,Male,2014,2014,1,Full-time,119XXX,Miscellaneous managers,109048.866218,4731.747512,203256,10952.158644,2055,Texas,04000US48
39,2,Female,2014,2014,1,Full-time,252020,Elementary & middle school teachers,44767.901585,725.607851,253620,12201.566229,2720,Texas,04000US48